
.box-produtos {
    flex-wrap: wrap;
    justify-content: center;

    @media only screen and (max-width: 768px) { 
        flex-wrap: nowrap;
        justify-content: start;
    }
}
.box-container {
    margin: 0 auto;

    @media only screen and (max-width: 768px) { 
        overflow: hidden;
        overflow-x: scroll;
        min-height: 395px;
    }
}

