header {
    background-color: #EFE9E5;
    color:#252220;
    font-weight: bold;
    
    .fa-sign-out {
        font-size: 20px;
        color: #EC7000;
        cursor: pointer;
        vertical-align: text-bottom;
    }
}