header {
    .logo {
        float: none;
        margin: 0 auto;
    }

    .fa-sign-out {
        font-size: 20px;
        color:#bd2130;
        cursor: pointer;
        vertical-align: text-bottom;
    }
}