<div class="thumb-item mb-5 mx-3">
    <div class="thumb-wrapper w-100">
        <a href="#" class="text-decoration-none">
            <figure class="thumb-image">
                <img [src]="produto.imagem" [alt]="produto.nome" class="img-thumbnail">
            </figure>
            <div class="thumb-caption">
                <span class="thumb-price">
                    {{produto.valor}} 
                    <small>{{produto.parcelado}}</small>
                </span>
                <p class="thumb-description hidden">
                    {{produto.descricao}}
                </p>
            </div>
        </a>
    </div>
</div>