.thumb-wrapper {
    box-shadow: 2px 5px 5px #cccccc;
    border-radius: 5px;

    a {
        -webkit-transition: height .1s ease-out;
        transition: height .1s ease-out;
        color: #666666;
        
        .hidden {
            display:none;
        }
        &:hover {
            .hidden {
                display:block;
            }
        }
    }

    .thumb-image {
        height: 180px;
        width: 180px;

        img {
            width: 100%;
        }
    }

    .thumb-price {
        font-weight: bold;
        font-size: 18px;

        small {
            display:block;
        }
    }
}